<div>
    <div class="row" style="margin: 5%;">

        <div class="col-md-6" style="text-align: center;">
                <h5>INICIOS EN DESARROLLO WEB</h5><hr>
                <p class="texto">Realice un curso corto en desarrollo web, aquí empezó mi interés por esta área.
                Conocí JavaScript y un poco de PHP.</p><br>
                <img class="foto" src="assets/cert.jpg">
        </div>
    <div class="col-md-6" style="text-align: center;">
  
            <h5 >TRABAJO DE GRADO</h5><hr>
            <p class="texto">Para obtener mi título como Administradora de Sistemas realicé mi trabajo de grado
                en auditoría de sistemas, el trabajo se titula <a href="assets/TrabajoGrado VO.pdf">"Auditoría 
                a bodega de datos del Centro de Datos e Indicadores 
                Ambientales de Caldas (CDIAC) ubicado en la Universidad Nacional de Colombia"</a>
                Les dejó el link por si lo quieren leer :D</p>
                <h5 style="text-align: center;">Aquí estaba en la presentación</h5>
                <img class="foto" src="assets/trab.jpg">
     
    </div>
</div>
</div>