<div style="margin: 5%;">
    <div class="row" style="margin-left: 3%; margin-right: 3%;">
        <div class="col-md-4">
            <ngb-toast class="box">
                <a style="margin-left: 26%;" href="https://bibliotecas.unal.edu.co/bibliotecas/manizales/">BIBLIOTECAS UNAL</a>
                <p class="presentacion">Mi primer trabajo fue en las bibliotecas de la sede Manizales.
                    Trabaje como estudiante auxiliar por cuatro meses, en un proyecto de inclusión para estudiantes
                    con discapacidad, me encargaba de dar a conocer y capacitar a toda la comunidad académica en dos herramientas, 
                    <a href="https://www.convertic.gov.co/641/w3-propertyvalue-15308.html">JAWS y MAGIc</a>, las cuales facilitan el acceso
                    a un computador a personas con discapacidad visual.
                </p>
                <img class="imgP" src="assets/biblio.jpg">
            </ngb-toast>
        </div>
            <div class="col-md-4">
                <ngb-toast class="box">
                    <a style="margin-left: 46%;" href="http://www.idea.unal.edu.co/">IDEA</a>
                    <p class="presentacion">Después llegue al grupo <a href="http://gaia.manizales.unal.edu.co/GAIA/">GAIA</a>
                        y allí me contrató el instituto de estudios ambientales (IDEA).
                        Donde trabajé como estudiante auxiliar por un año, me encargaba principalmente de alimentar la bodega de datos ambientales
                        de la entidad, y dar soporte a un <a href="http://cdiac.manizales.unal.edu.co/sistema_consulta/public/">sistema de consultas</a> de dicha bodega.
                        Un trabajo donde aprendí mucho y además me dejo excelentes amigos. </p>
                        <img class="imgP" src="assets/gaia.jpg">
                </ngb-toast>
        </div>
        <div class="col-md-4">
            <ngb-toast class="box">
                <a style="margin-left: 40%;" href="https://www.bellota.com/es-co">BELLOTA</a>
                <p class="presentacion">Finalmente llegué a Bellota, donde realicé mi 
                    práctica empresarial, trabajé con el desarrollo de una aplicación interna
                    para el área de compras
                    de la compañía, me encargué del desarrollo front-end en Angular y también parte del back-end en Java JPA y PostgreSQL
                    Una de las experiencias más enriquecedoras que he tenido, tanto profesional como personalmente. </p>
                    <img class="imgP" src="assets/bellota.jpg">
            </ngb-toast>
    </div>
    </div>
    </div>
