<html>
    <body>
        <header>
            <div class="row">
                <ul id="menu">
                        <li><a routerLink="inicio"><img class="icon" src="assets/poder-femenino.png"> Sobre Mi</a></li>
                
                        <li><a routerLink="experiencia"> <img class="icon" src="assets/trabajo.png"> Experiencias</a></li>
            
                        <li><a routerLink="academico"> <img class="icon" src="assets/examen.png"> Académico</a></li>
            
                </ul>
            </div>
        </header>
        <router-outlet></router-outlet><br><br><br><br>
        <footer>
    <div class="row">
        <div class="col-md-12">
        <h5 style="text-align: center;">Iconos diseñados por <a href="https://www.flaticon.es/autores/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.es/" title="Flaticon"> www.flaticon.es</a></h5> 
        </div>
    </div>
        </footer>
    </body>
</html>
