
html {
    min-height: 100%;
    position: relative;
  }
  body {
    margin: 0;

    width: 100%;
   
  }
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
  }
  .icon{
    width: 30px;
}
#menu{
  padding: 0;
  margin: 1%;
}
#menu li {
  display: inline;
  }
#menu li a {
  padding: 2px 20px 2px 20px;
  text-decoration: none;
  color: #eacec5;
}
#menu li a:hover {
  background-color: #9a9a98;
  margin-top: -2;
  padding-bottom: 8px;
}

a{
  font-size: medium;
  text-align: center;
  color: #eacec5;
}
a:link{
  color: #eacec5;
}